<section class="w-full h-screen bg-background flex justify-center items-center">
  <div
    class="flex flex-col justify-center items-center md:flex-row w-full max-w-5xl h-full md:h-4/5 rounded-lg shadow-lg overflow-hidden">
    <div
      class="hidden  md:flex w-full h-full md:w-1/2 bg-white p-8 flex-col justify-center items-center text-center space-y-6">
      <div class="mb-6">
        <img alt="Logo" class="w-32 h-32 mx-auto" src="logo.png"/>
      </div>
      <h1 class="text-4xl font-bold text-primary">Welcome to WorkSphere</h1>
      <p class="text-sm text-primary opacity-80">
        Your project management hub
      </p>
    </div>
    <div class="w-[90%] md:w-1/2 bg-primary p-8 flex flex-col justify-center items-center md:h-full ">
      <div class="flex justify-center mb-6">
        <h1 class="text-2xl font-bold text-heading text-white">Login</h1>
      </div>
      <div class=" justify-self-center self-center my-10">
        <p-button
          (click)="setAdminLogin(loginForm)"
          class="w-full mt-6 p-button-rounded p-button-primary"
          icon="pi pi-check"
          label="Set Admin Login"
          type="button"
        />
      </div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="space-y-6 w-full flex flex-col items-center">
        <div class="flex flex-col w-full">
          <label class="text-sm font-medium text-white" for="email">Email</label>
          <input
            #email="ngModel"
            [(ngModel)]="loginData.email"
            class="p-3
            bg-white
            rounded-lg mt-2 "
            id="email"
            name="email"
            required
            type="email"
          />
        </div>
        <div class="flex flex-col w-full">
          <label class="text-sm font-medium text-white" for="password">Password</label>
          <input
            #password="ngModel"
            [(ngModel)]="loginData.password"
            class="p-3
            bg-white
            rounded-lg mt-2 focus:outline-none focus:ring-2 focus:ring-primary"
            id="password"
            name="password"
            required
            type="password"
          />
        </div>
        <div class="flex justify-center justify-self-center">
          <p-button
            [loading]="buttonLoading"
            class="w-full mt-6 p-button-rounded p-button-primary"
            icon="pi pi-check"
            label="Submit"
            type="submit"
          />
        </div>
      </form>
    </div>
  </div>
</section>

