<header class="bg-white black px-4 py-4 shadow-md h-[5rem] flex items-center justify-between w-full">
  <!-- Left side: Close button -->
  <div class="flex items-center">
    <button
      (click)="openSideNav()"
      class="text-white bg-primary hover:opacity-75 cursor-pointer font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center md:hidden"
      type="button">
      <mat-icon aria-hidden="false" aria-label="Example menu icon" class="flex items-center" fontIcon="menu"></mat-icon>
      <span class="sr-only">Icon description</span>
    </button>
  </div>
  <div class="flex items-center gap-4">
    <div class="flex items-center gap-4">
      <div
        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
        <span class="font-medium text-gray-600 dark:text-gray-300">
          {{ user.username.charAt(0) }}
        </span>
      </div>
      <div class="font-medium">
        <div>{{ user.username }}</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">{{ user.role }}</div>
      </div>
      <button
        (click)="logout()"
        class="text-white bg-primary hover:opacity-75 cursor-pointer font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center">
        <mat-icon aria-hidden="false" aria-label="Example logout icon" class="flex items-center"
                  fontIcon="logout"></mat-icon>
        <span class="sr-only">Icon description</span>
      </button>
    </div>
  </div>
</header>
