<header class="bg-white px-4 py-4 shadow-md h-20 flex items-center justify-between w-full">
  <!-- Left side: Close button -->
  <div class="flex items-center">
    <button
      (click)="openSideNav()"
      class="text-white bg-primary hover:opacity-75 cursor-pointer font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center md:hidden"
      type="button">
      <mat-icon aria-hidden="false" aria-label="Example menu icon" class="flex items-center" fontIcon="menu"></mat-icon>
      <span class="sr-only">Icon description</span>
    </button>
  </div>
  <div class="flex items-center gap-4">
    <div class="flex items-center gap-4">
      <div
        class="relative inline-flex items-center justify-center w-8 h-8 md:w-10 md:h-10 rounded-full bg-gray-600 text-white text-sm md:text-lg">
        {{ user.username.charAt(0) }}
      </div>
      <div class="hidden md:block font-medium">
        <div>{{ user.username }}</div>
        <div class="text-sm text-gray-500">{{ user.role }}</div>
      </div>
      <button
        (click)="logout()"
        class="text-white bg-primary hover:opacity-75 cursor-pointer font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center">
        <mat-icon aria-hidden="false" aria-label="Example logout icon" class="flex items-center"
                  fontIcon="logout"></mat-icon>
        <span class="sr-only">Icon description</span>
      </button>
    </div>
  </div>
</header>
