<div class="flex justify-center items-center min-h-screen bg-primary">
  <div class="text-center p-10 space-y-6  w-full flex flex-col items-center">
    <div class="mb-6">
      <img
        alt="WorkSphere Logo" class="w-6 h-6 md:w-10 md:h-10 row-span-2 justify-self-center"
        src="logo.png">
    </div>
    <p-progressSpinner
      [style]="{'width': '70px', 'height': '70px'}"
      styleClass="p-d-block mx-auto mb-4"></p-progressSpinner>
    <p class="text-3xl text-white font-semibold text-heading ">
      Welcome to WorkSphere
    </p>
    <p class="text-lg text-white opacity-80">
      Your project management hub
    </p>
  </div>
</div>
