<div class="w-full bg-background font-paragraph p-6">
  <div *ngIf="projectManager" class="max-w-full mx-auto p-6  md:flex md:space-x-6">
    <!-- Left Column - User Info -->
    <div class="flex items-center space-x-6  rounded-lg shadow-lg bg-white  p-6 py-13 flex-1">
      <div
        class="flex-shrink-0  w-24 h-24 md:w-32 md:h-32 bg-primary text-white flex items-center justify-center text-3xl font-bold rounded-full">
        {{ projectManager.firstName.charAt(0) }}{{ projectManager.lastName.charAt(0) }}
      </div>
      <div class="flex-1">
        <h1 class="text-3xl font-heading text-primary mb-4">Manager Profile</h1>
        <div class="border-l-4 border-primary pl-4">
          <p class="text-lg font-bold">{{ projectManager.firstName }} {{ projectManager.lastName }}</p>
          <p class="text-gray-600">Email: {{ projectManager.email }}</p>
          <p class="text-gray-600">Employment Date: {{ projectManager.employmentDate | date }}</p>
        </div>
      </div>
    </div>

    <!-- Right Column - Salary Info -->

    <div
      class=" space-x-3  rounded-lg shadow-lg bg-white  px-10 py-13 w-full md:w-fit mt-11 md:m-0 grid grid-rows-2 grid-cols-2 gap-4 md:flex md:flex-col">
      <h1 class="text-3xl font-heading text-primary mb-4 col-span-2">Salary</h1>
      <p>
        <span class="text-lg font-bold black">Basic Salary: </span>
        <span class="text-gray-700"> ${{ projectManager.salary.basicSalary | number }}</span>
      </p>
      <p>
        <span class="text-lg font-bold black">Bonus: </span>
        <span class="text-gray-700"> ${{ projectManager.salary.bonus | number }}</span>
      </p>
      <p>
        <span class="text-lg font-bold black">Deductions: </span>
        <span class="text-gray-700"> ${{ projectManager.salary.deductions | number }}</span>
      </p>
      <p>
        <span class="text-lg font-bold black">Total Salary: </span>
        <span class="text-primary"> ${{ projectManager.salary.totalSalary | number }}</span>
      </p>
    </div>
  </div>
</div>
