<p-confirmdialog></p-confirmdialog>
<section>
  <app-activity [show]="isLoading"></app-activity>
  <app-section-header [home]="home" [items]="items" [title]="header"></app-section-header>
  <div
    *ngIf="!showDetailsEmployee"
    class="container bg-white shadow-md rounded-lg p-4 mt-4 overflow-x-auto ">
    <div class="flex justify-between items-center">
      <div class="flex items center">
        <div class="example-button-container">
          <button
            (click)="openDrawer()"
            class="text-white bg-primary hover:opacity-75 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 cursor-pointer"
            type="button">
            <span>Add Employee</span>
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col mt-4">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 my-6">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
        <tr>
          <th class="px-6 py-3" scope="col"> ID</th>
          <th class="px-6 py-3" scope="col">First Name</th>
          <th class="px-6 py-3" scope="col">Last Name</th>
          <th class="px-6 py-3" scope="col">Email</th>
          <th class="px-6 py-3" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let employee of employees" class="bg-white border-b  border-gray-200">
          <td class="px-6 py-4">{{ employee.id }}</td>
          <td class="px-6 py-4">{{ employee.firstName }}</td>
          <td class="px-6 py-4">{{ employee.lastName }}</td>
          <td class="px-6 py-4">{{ employee.email }}</td>
          <td class="px-6 py-4 flex items-center">
            <button
              (click)="openDrawer(employee.id)"
              class="text-white bg-primary
              hover:bg-blue-800 font-medium rounded-lg
              text-sm px-5 py-2.5 text-center inline-flex
              items-center me-2 cursor-pointer
              my-2 md:my-0
"
              type="button">
              <span class="ms-2">Edit</span>
            </button>
            <button
              (click)="confirmDelete($event, employee.id)"
              class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 cursor-pointer"
              type="button">
              <span class="ms-2">Delete</span>
            </button>
            <button
              (click)="handleEmployeeSelected(employee)"
              class="text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 cursor-pointer"
              type="button">
              <span class="ms-2">View</span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="!!employees.length" class="flex flex-col items-center">
        <span class="text-sm text-gray-700 dark:text-gray-400">
          Showing <span class="font-semibold text-gray-900 "> {{ pageIndex * pageSize + 1 }} </span>
          to <span
          class="font-semibold text-gray-900"> {{ ((pageIndex + 1) * pageSize) + pageSize < totalRecords ? ((pageIndex + 1) * pageSize) : totalRecords }} </span>
          of <span class="font-semibold text-gray-900"> {{ totalRecords }}  </span> records
        </span>
        <div class="inline-flex mt-2 xs:mt-0">
          <button
            (click)="prevPage()"
            class="flex items-center
            justify-center px-3 h-8 text-sm font-medium
            text-white rounded-s
            font-medium text-white bg-[#4354BC]
            disabled:bg-gray-300 disabled:cursor-not-allowed
            "
            disabled="{{pageIndex === 0 ? 'disabled' : ''}}">
            Prev
          </button>
          <button
            (click)="nextPage()"
            class="flex items-center
            cursor-pointer
            justify-center px-3 h-8 text-sm
            font-medium text-white bg-[#4354BC]
            disabled:bg-gray-300 disabled:cursor-not-allowed
            "
            disabled="{{(pageIndex + 1) * pageSize >= totalRecords ? 'disabled' : ''}}">
            Next
          </button>
        </div>
      </div>

    </div>
  </div>
</section>
<app-manage-employee
  (employeeSaved)="loadEmployees()"
  (visibilityChange)="handleDrawerVisibilityChange($event)"
  *ngIf="showAddEmployee"
  [employeeId]="selectedEmployeeId"
  [visible]="showAddEmployee"></app-manage-employee>
<app-employee-details
  *ngIf="showDetailsEmployee"
  [employeeId]="selectedEmployeeId"
></app-employee-details>
